@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$Paleblue: hsl(225, 100%, 94%);
$Brightblue: hsl(245, 75%, 52%);

$Verypaleblue: hsl(225, 100%, 98%);
$Desaturatedblue: hsl(224, 23%, 55%);
$Darkblue: hsl(223, 47%, 23%);
$Paragraph: 16px;

body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: $Paleblue;
}

@media (max-width: 425px) {
    body {
        background-image: url("../images/pattern-background-mobile.svg");
        background-size: contain;
    }
}

main {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    justify-content: center;
    align-items: center;

    .box {
        background-color: $Verypaleblue;
        width: 350px;
        height: 526px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 17px 20px 0px rgb(161 161 161 / 27%);

        img {
            width: 350px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
    }
}

.section1 {
    width: 70%;
    text-align: center;

    h1 {
        color: $Darkblue;
        font-weight: 900;
        font-size: x-large;
    }

    p {
        color: $Desaturatedblue;
        font-size: $Paragraph;
    }
}

.section2 {
    display: flex;
    align-items: center;
    gap: 45px;

    .section2_img {
        width: 45px;
        height: 45px;
    }

    .section2_text {
        line-height: 10px;
        position: relative;
        right: 30px;

        h2 {
            color: $Darkblue;
            font-size: medium;
            font-weight: 900;
        }

        p {
            color: $Desaturatedblue;
        }
    }
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    button {
        width: 290px;
        height: 50px;
        border: none;
        color: $Verypaleblue;
        font-weight: 700;
        border-radius: 10px;
        background-color: $Brightblue;
        box-shadow: 1px 12px 20px 0px rgba(161, 161, 161, 0.7411764706);
        cursor: pointer;
    }

    button:hover {
        background-color: hsla(239, 62%, 49%, 0.795);
    }

    button:active {
        box-shadow: inset 1px 3px 20px 0px #00000030
    }

    a {
        margin-top: 20px;
        text-decoration: none;
        color: $Desaturatedblue;
        font-size: small;
        font-weight: 700;
    }

    a:hover {
        color: $Darkblue;
    }
}

.link {
    color: $Brightblue;
    font-size: small;
    font-weight: 700;
}

.link:hover {
    color: hsla(239, 63%, 53%, 0.795);
}

footer {
    width: 100vw;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    font-size: 11px;

    div a {
        color: hsl(228, 45%, 44%);
    }
}